.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 1rem;
  gap: 20px;
  width: 100vw; /* Adjust the maximum width as needed */
}

.card {
  flex-basis: 23%; /* Show 4 cards per row on larger screens */
  min-width: 250px; /* Minimum width for each card */
}

@media screen and (max-width: 768px) {
  .card {
    flex-basis: 50%; /* Show 2 cards per row on medium screens */
  }
}

@media screen and (max-width: 480px) {
  .card {
    flex-basis: 100%; /* Show 1 card per row on smaller screens */
  }
}
